@import url(materialize.min.css);
@import url(bootstrap.min.css);

@font-face{
    font-family: Finger;
    src: url(../fonts/FingerPaint-Regular.ttf);
}

@font-face{
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

*{margin: 0;padding: 0;font-family: Roboto !important;}

body{
    background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
}

h1{font-family: Finger !important;}

.name{
    font-size: 60px;
}

.bio{
    background: #610079;
    color: #fff;
}

.bio img{
    width: 301px;
    height: 301px;
}

.icon{
    font-size: 70px;
}

.leter{
    font-size: 40px;
}

.center{
    margin-left: auto;
    margin-right: auto;
}

.leter:hover{
    text-decoration: none;
}

.social{
    margin-left: 0;
    margin-right: 0;
}

.titulo{
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.galeria img{
    box-shadow: 0 8px 10px -4px rgba(0, 0, 0, .6);
    border-radius: 15px;
}

.materialbox-caption{
    bottom: 30px;
    right: 0;
    width: 46%;
    height: auto;
    padding: 10px;
    margin: auto;
    background: #000;
    box-shadow: 5px 5px #fff;
    font-size: 20px;
    color: #fff;
    line-height: 28px;
}

.caja{
    width: 400px;
    height: 400px;
}

.texto{
    font-size: 21px !important;
}

.centrar{
    margin-left: auto;
    margin-right: auto;
}

.icons{
    font-size: 60px;
    bottom: 0px;
}

.icon{
    color: #fff;
}

.icon:hover{
    color: bisque;
}

footer{
    padding: 20px;
    margin-top: 25px;
    background: #610079;
    color: #fff;
    text-align: center;
    font-size: 24px;
}

/* Adaptar el texto en pantalla */
@media screen and (max-width: 600px){
    .materialbox-caption{
        width: 90%;
    }
}

@media screen and (max-width: 992px){
    .materialbox-caption{
        width: 70%;
    }
}